/* Start of Global styles */
:root {
  --primary-color: #E0E0E0;
  --secondary-color: #C0C0C0;
  --suttle-color: #909090;
  --information-gradient: linear-gra --primary-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --secondary-font: "Lobster", cursive;
  --primary-shadow: 3px 3px 6px rgba(0, 0, 0, 0.35); }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html,
body {
  width: 100%;
  height: 100%; }

body {
  background-image: url("../../img/backdrop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

main {
  width: 80%;
  height: 80%;
  margin: auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: grid;
  grid-template-columns: 3fr 2fr 6fr;
  align-items: center; }

h1 {
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-size: 2.5em;
  font-weight: 300;
  text-align: center;
  width: 100%; }

h2 {
  color: var(--secondary-color);
  font-family: var(--primary-font);
  font-size: 1.25em;
  font-weight: 150; }

a {
  text-decoration: none;
  color: var(--secondary-color); }

/* End of Global styles */
/* Start of Profile section styles */
.profile {
  text-align: center; }
  .profile #picture {
    width: 75%;
    border-radius: 100%;
    margin: 1em;
    box-shadow: var(--primary-shadow); }
  .profile #location::before {
    content: url(); }

/* End of Profile section styles */
/* Start of Navigation section styles */
.navigation {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly; }
  .navigation li::before {
    content: url("../../img/icons/slider/navigation-regular.svg");
    padding: 0.5em;
    float: left; }
  .navigation li {
    list-style-type: none;
    float: right; }

/* End of Navigation section styles */
/* Start of Information section styles */
.information {
  height: 100%;
  justify-content: center;
  padding: 10%;
  background: linear-gradient(0deg, #DFDFDF00, #90909030, #DFDFDF00); }
  .information .slide {
    display: none;
    width: 100%;
    -webkit-transition: opacity .4s ease-in-out, visibility 0s .4s;
    transition: opacity .4s ease-in-out, visibility 0s .4s; }
  .information .is-active {
    display: block;
    width: 100%;
    -webkit-transition: opacity .4s ease-in-out .4s;
    transition: opacity .4s ease-in-out .4s; }
  .information .slide--next {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-transition: -webkit-transform .4s ease-in-out;
    transition: -webkit-transform .4s ease-in-out;
    transition: transform .4s ease-in-out;
    transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out; }
  .information #projects .slider {
    display: flex;
    overflow-x: scroll;
    width: 35.75vw;
    height: 100%; }
    .information #projects .slider .slide {
      height: 100%;
      flex: 0 0 100%;
      text-align: center;
      justify-content: center;
      align-items: center; }
      .information #projects .slider .slide #project-image {
        width: 10em;
        border-radius: 100%; }

/* End of Information section styles */
