/* Start of Global styles */
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
:root {
  --primary-color: #e0e0e0;
  --secondary-color: #c0c0c0;
  --suttle-color: #909090;
  --information-gradient: linear-gradient(
    0deg,
    #dfdfdf00,
    #90909030,
    #dfdfdf00
  );
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --primary-shadow: 3px 3px 6px rgba(0, 0, 0, 0.35); }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html,
body {
  width: 100%;
  height: 100%; }

body {
  background-image: url("../../img/backdrop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

main {
  width: 80%;
  height: 80%;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  /* IE */
  -moz-transform: translateY(-50%);
  /* Firefox */
  -webkit-transform: translateY(-50%);
  /* Safari and Chrome */
  -o-transform: translateY(-50%);
  display: grid;
  grid-template-columns: 3fr 2fr 6fr;
  align-items: center; }

h1 {
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-size: 2.5em;
  font-weight: 300;
  text-align: center;
  width: 100%; }

h2 {
  color: var(--secondary-color);
  font-family: var(--primary-font);
  font-size: 1.25em;
  font-weight: 150; }

h3 {
  color: var(--suttle-color);
  font-family: var(--primary-font);
  font-size: 1em;
  font-weight: 100; }

a {
  text-decoration: none;
  color: var(--secondary-color); }

/* End of Global styles */
/* Start of Profile section styles */
.profile {
  text-align: center; }
  .profile #picture {
    width: 75%;
    border-radius: 100%;
    margin: 1em;
    box-shadow: var(--primary-shadow); }
  .profile #location::before {
    content: url(); }
  .profile #links .profile-link img {
    margin: 0.25em 0.5em;
    width: 1.75em;
    border-radius: 100%;
    background-color: var(--suttle-color); }

/* End of Profile section styles */
/* Start of Navigation section styles */
.navigation {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 5%; }
  .navigation li {
    float: right;
    list-style: none;
    cursor: pointer; }
    .navigation li:hover img {
      content: url("../../img/icons/slider/navigation-selected.svg"); }
    .navigation li:hover h3 {
      color: var(--primary-color); }
    .navigation li img {
      transition: 0.4s;
      float: left;
      margin: 0.25em;
      width: 1em;
      content: url("../../img/icons/slider/navigation-regular.svg"); }
    .navigation li h3 {
      transition: 0.4s; }

/* End of Navigation section styles */
/* Start of Information section styles */
.section-slider {
  justify-content: center;
  padding: 10%;
  height: 100%;
  background: var(--information-gradient); }
  .section-slider .section-slide {
    display: none;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 0.4s ease-in-out, visibility 0s 0.4s;
    transition: opacity 0.4s ease-in-out, visibility 0s 0.4s; }
  .section-slider .is-active {
    display: block;
    width: 100%;
    -webkit-transition: opacity 0.4s ease-in-out 0.4s;
    transition: opacity 0.4s ease-in-out 0.4s; }
  .section-slider .slide--next {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out; }
  .section-slider #projects .slider {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    /* IE */
    -moz-transform: translateY(-50%);
    /* Firefox */
    -webkit-transform: translateY(-50%);
    /* Safari and Chrome */
    -o-transform: translateY(-50%); }
    .section-slider #projects .slider .slide {
      display: none;
      text-align: center; }
      .section-slider #projects .slider .slide.is-active {
        display: block; }
      .section-slider #projects .slider .slide #project-image {
        width: 10em;
        border-radius: 100%; }
      .section-slider #projects .slider .slide #project-title {
        font-size: 1.75em; }
      .section-slider #projects .slider .slide .project-languages img {
        margin: 0.25em;
        width: 1em; }

/* End of Information section styles */
