/* Start of Global styles */
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

@mixin vertical_align($position: relative) {
  position: $position;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%); /* IE */
  -moz-transform: translateY(-50%); /* Firefox */
  -webkit-transform: translateY(-50%); /* Safari and Chrome */
  -o-transform: translateY(-50%);
}

@mixin responsive_font_size($min_size_px, $min_size, $max_size, $min_vp_pix: 265px, $min_vp: 265, $max_vp: 2160) {
  font-size: calc($min-size + ($max_size - $mix_size) * ((100vw - $min_vp) / ($max_vp - $min_vp)));
}

:root {
  --primary-color: #e0e0e0;
  --secondary-color: #c0c0c0;
  --suttle-color: #909090;
  --information-gradient: linear-gradient(
    0deg,
    #dfdfdf00,
    #90909030,
    #dfdfdf00
  );
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --primary-shadow: 3px 3px 6px rgba(0, 0, 0, 0.35);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-image: url("../../img/backdrop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  width: 92.5%;
  height: 92.5%;
  margin: auto;
  @include vertical_align();
  display: grid;
  grid-template-columns: 3fr 2fr 6fr;
  align-items: center;
  border: 1px red solid;

  @media screen and (max-width: 700px) {
    grid-template-columns: 1fr;
  }

  @media screen and (max-width: 265px) {
    display: none;
  }
}

h1 {
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-size: calc(28px + (38 - 28) * ((100vw - 265px) / (2160 - 265)));
  font-weight: 300;
  text-align: center;
  width: 100%;
}

h2 {
  color: var(--secondary-color);
  font-family: var(--primary-font);
  font-size: calc(16px + (24 - 16) * ((100vw - 265px) / (2160 - 265)));
  font-weight: 150;
}

h3 {
  color: var(--suttle-color);
  font-family: var(--primary-font);
  font-size: calc(12px + (20 - 12) * ((100vw - 300px) / (2160 - 300)));
  font-weight: 100;
}

p {
  color: var(--suttle-color);
  font-family: var(--primary-font);
  font-size: calc(12px + (20 - 12) * ((100vw - 300px) / (2160 - 300)));
  font-weight: 75;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}
/* End of Global styles */

/* Start of Profile section styles */
.profile {
  text-align: center;
  @media screen and (max-width: 700px) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 0.25em;
    align-items: center;
  }
  .picture {
    width: 85%;
    border-radius: 100%;
    margin: 1em;
    box-shadow: var(--primary-shadow);
  }

  .location::before {
    content: url();
  }

  .links {
    .profile-link {
      img {
        margin: 0.25em 0.5em;
        width: 1.75em;
        border-radius: 100%;
        background-color: var(--suttle-color);

        @media screen and (max-width: 700px) {
          width: 1.5em;
        }
      }
    }
  }
}
/* End of Profile section styles */

/* Start of Navigation section styles */
.navigation {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;

  @media screen and (max-width: 700px) {
    flex-direction: row;
  }

  li {
    float: right;
    list-style: none;
    cursor: pointer;

    &:hover {
        img {
            content:url("../../img/icons/slider/navigation-selected.svg");
        }

        h3 {
            color: var(--primary-color);
        }
    }

    img {
    transition: 0.4s;
      float: left;
      margin: 0.25em;
      width: 1em;
      content:url("../../img/icons/slider/navigation-regular.svg");
    }

    h3 {
        transition: 0.4s;
    }
  }
}
/* End of Navigation section styles */

/* Start of Information section styles */
.section-slider {
  justify-content: center;
  padding: 2.5%;
  height: 100%;
  background: var(--information-gradient);

  .section-slide {
    display: none;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 0.4s ease-in-out, visibility 0s 0.4s;
    transition: opacity 0.4s ease-in-out, visibility 0s 0.4s;
  }

  .is-active {
    display: block;
    width: 100%;
    -webkit-transition: opacity 0.4s ease-in-out 0.4s;
    transition: opacity 0.4s ease-in-out 0.4s;
  }

  .slide--next {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  }

  .technologies {
    .content {
      @include vertical_align();
      text-align: center;
      img {
        margin: 0.25em 0.5em;
        width: 7.5%;
      }
    }
  }
  .projects {
    border: 1px blue solid;
    .slider {
      display: block;
      @include vertical_align();

      .slide {
        display: none;
        text-align: center;

        &.is-active {
          display: block;
        }

        .project-image {
          width: 30%;
          border-radius: 100%;
        }


        .project-languages {
          img {
            margin: 0.25em;
            width: 2.5%;
          }
        }
      }
    }
  }
}
/* End of Information section styles */
